@model CityWeather

<html>
<head>
    <title>@ViewBag.appTitle</title>
    <meta charset="utf-8" />
    <link href="~/Weather.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="page-content">
                <div class="box float-left inline-block margin-left">
                    <div class="">
                        <h3 class="margin-bottom">@Model.CityName</h3>
                        <div class="text-dark-grey">@Model.DateAndTime</div>
                    </div>

                    <div class="float-right text-right">
                        <h1>@Model.TemperatureFahrenheit<span class="text-grey">&deg;F</span></h1>
                    </div>
                </div>
                <div class="clear">
                    <a href="/weather">Back to Weather Home Page</a>
                </div>

            



        </div>
    </div>
</body>
</html>