@using ViewsExample.Models;
@model PersonAndProductWrapperModel;

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Person and Product</title>
    <link href="~/stylesheet.css" rel="stylesheet" />
</head>
<body>
    <div class="page-content">
        <h1>Person and Product</h1>
        <div class="box w-100">
            <h3>Person</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Name</td>
                        <td>@Model.PersonData.Name</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>@Model.PersonData.PersonGender</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <div class="box w-100">
            <h3>Product</h3>
            <table class="table">
                <tbody>
                    <tr>
                        <td>Id</td>
                        <td>@Model.ProductData.Id</td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td>@Model.ProductData.Name</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>