@{
    ViewData["Title"] = "About";
}

<h1>About</h1>

@{
    ViewData["Title"] = "Home";
    ViewData["ListTitle"] = "Countries";
    ViewData["ListItems"] = new List<string>() { "USA", "Mexico", "Taiwan", "Japan" };
    ListModel listModel = new();
    listModel.Title = "Countries";
    listModel.Items = ["USA", "Canada", "Germany"];
}

@{
    await Html.RenderPartialAsync("_ListPartialView");
}